<div class="contain">
    <div class="contained">
        <article class="faq page">
            <div class="qanda">
                <div class="queue">
                    <h3>Question: What is Ideafora.com?</h3>
                </div>
                <div class="aye">
                    Ideafora.com is a platform designed to bridge the communication gap between creative thinkers and skilled developers. Inventors are invited to share project ideas that can be picked up by developers seeking work. Check out the <a href="./polite.handlebars">Polite Page</a> for more details. 
                </div>
            </div>
            <div class="qanda">
                <div class="queue">
                    <h3>Question: How do I promote my ideas on Ideafora.com?</h3>
                </div>
                <div class="aye">
                    At Ideafora.com, it's up to the creator to make their titles stand out. When posting an idea, Inventors should create pitches that include original titles, descirptive language, and competitive pricing.  
                </div>
            </div>
            <div class="qanda">
                <div class="queue">
                    <h3>Question: Can I cancel my withdrawl?</h3>
                </div>
                <div class="aye">
                    Withdrawals are final and cannot be undone. We will not be able to refund or change this process once it has begun.
                </div>
            </div>
            <div>
                <h3>-----</h3>
            </div>
        </article>
        <section class="adminquestion">
            <label for="contactadmin">
                <h3>Contact site admin about something not covered here:</h3>
            </label>
            <textarea name="contactadmin" id="contactadmin"></textarea>
            <div class="submitbutton"><button id="contactadminsubmit">Contact Admin -></button></div>
        </section>
    </div>
</div>

<script src="/assets/js/faq.js"></script>
