<header>
    <h1><img src="/assets/img/ideaforagif.gif" alt="ideafora" class="headimg"></h1>
</header>
<nav class="login">
    <span class="left">
        <div class="label" id="nudgedown"><label for="login-email">email:</label></div>
        <div class="label"><label for="login-password">password:</label></div>
    </span>
    <span class="right">
        <div class="input"><input type="text" id="login-email"></div>
        <div class="input"><input type="password" id="login-password"></div>
        <div class="loginbutton"><button class="loginbutton"><h5>login -></h5></button>
        </div>
    </span>
</nav>
<article class="welcome">
    <span class="welcomein">
        <h3>Welcome!</h3>
        <h3>Do you have a great idea for a website?</h3>
        <h3>Are you a developer who is looking for the next great idea?</h3>
        <h3>We have someone we'd love you to meet.</h3>
        <div>If you're new here, please create a username and password to signup. People come here to find, post, and
            collaborate on new ideas. Keep in mind that the other users of this site are people too, and keep the
            discourse kind and civil. Everyone is welcome as long as they make sure that everyone else feels welcome.
            Enjoy!</div>
    </span>
</article>
<nav class="signup">
    <span class="left">
        <div class="label" id="nudgedown"><label for="signup-username">username:</label></div>
        <div class="label"><label for="signup-email">email:</label></div>
        <div class="label" type="text"><label for="signup-password">password:</label></div>
        <div class="label"><label for="signup-role">role:</label></div>
    </span>
    <span class="right">
        <div class="input"><input type="text" id="signup-username"></div>
        <div class="input"><input type="email" id="signup-email"></div>
        <div class="input"><input type="text" id="signup-password"></div>
        <div class="input"><select type="text" id="signup-role">
                <option value="inventor">Inventor</option>
                <option value="coder">Coder</option>
                <option value="both">Both</option>
                
            </select>
        <br/>
        </div class="input"><button class="signupbutton"><h5>signup -></h5></button></div>
    </span>
</nav>

<script src="/assets/js/login.js"></script>