<div class="contain">
    <div class="contained">
        <article class="firstpostnotice">
            <div class="noticetext">
                <div class="polite">
                    <span class="lede">Hey, it looks like you're about to make your first post! That's awesome, just a
                        few things over,</span> because a website is only as good as it's contents and we want to make
                    sure your post is as good as possible!
                </div>
                <div class="polite">
                    The great thing about this site is that it eliminates the need for managers, which leaves it up to
                    you to manage yourself and your own expectations. Make sure you've spent enough time looking around
                    the site to find out what good posts look like (organize-by-like on the homepage), and see if there
                    are not already posts that are similar to what you are looking for. Maybe you can team up to offer
                    enough money to build the project, or learn from what others are suggesting.
                </div>
                <div class="polite">
                    <span class="lede">Free Offers:</span> Free ideas are the best! Most coders come here to see if
                    there is a good side project where they can hone their coding skills and build something useful. Put
                    it out there, and if it works as an idea, someone will make it work as project.
                </div>
                <div class="polite">
                    <span class="lede">Paid Offers:</span> Paid offers are amazing too. Just remember that quality
                    coding is expensive. The minimum we allow you to offer to build a project is 20,000$. This is just
                    logistically the minimum wage that you can offer for the most basic project. And, as ever, you get
                    what you pay for - the higher your offer, and the more vetting you do, the better your project will
                    look in the end. And remember: when posting your idea publicly, don't divulge anything you don't
                    want other random people to use.
                </div>
                <div class="polite">
                    <span class="lede">Negotiated Offers:</span> Negotiated offers are risky. They sometimes work out,
                    but it's more negotiation, more stress and both parties are much less likely to walk away happy
                    unless they really come to both trust eachother and very very very clearly lay out in writing what
                    they expect of eachother. And here again: when posting your idea publicly, don't divulge anything
                    you don't want other random people to use.
                </div>
                <div class="polite">
                    Finally, in the end, you are meeting random people online here, so use caution and your best
                    judgement. Besides the fact that there are rotten bananas in the basket, please remember:
                    <ul>
                        <li>Be Nice to Each Other</li>
                        <li>Expect little, Give a lot</li>
                        <li>Be Responsible</li>
                    </ul>
                </div>
            </div>
            <label for="proceedtoquiz">Got it! Quiz me.</label>
            <div class="submitbutton"><button name="proceedtoquiz" id="proceedtoquiz">Proceed -></button></div>
        </article>
    </div>
</div>

<script src="/assets/js/polite.js"></script>
