<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/styledark.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav class="navigate">
        <span class="navbutton"><button>--------home ->------</button></span>
        <span class="navbutton"><button>--------faqs ->------</button></span>
        <span class="navbutton"><button>---post an idea ->---</button></span>
        <span class="navbutton"><button>---find an idea ->---</button></span>
        <span class="navbutton"><button>------logout ->------</button></span>
    </nav>
    <div class="pagebody">
        <div class="pagecontent">
            <main class="newidea">
                <span class="intro">
                    <h3>Before you share your idea, a final reminder: </h3> This is a public website where people come
                    for ideas. Don't share anything you don't want stolen, riffed on or played with! Below you will be
                    asked how to offer the idea - free, partner, or paid. If it's free and you just want to see it made,
                    that's great, please describe it fully! If it's paid, give a brief outline of what you want without
                    divulging any proprietary information, then let the money do the talking - you get what you pay for.
                    If you choose 'partner' and want to negotiate a deal with a coder to make something for less than an
                    outright fee, just know that while it's possible, it's both unlikely and risky. Whatever your
                    option, meet and verify the people you meet here before becoming invested. Remember how easy it was
                    to sign up to this site, and trust people accordingly. The world is full of sailors and loose men.
                    You might all be rapscallions for all we know and: <h3>We Take No Responsibility.</h3>
                </span>
                <div class="prompt">
                    <label for="title">Give a short, descriptive title for your idea. Try to keep three words or less.
                        (Eg.: Gamify Fitness):</label>
                    <textarea name="title" id="title" class="smalltext"></textarea>
                </div>
                <div class="prompt">
                    <label for="idea-type">What type of idea is it?</label>
                    <select name="idea-type" id="idea-type" class="composelect">
                        <option value="app">-> app</option>
                        <option value="game">-> game</option>
                        <option value="program">-> program</option>
                        <option value="website">-> website</option>
                        <option value="other">-> other</option>
                    </select>
                </div>
                <div class="prompt">
                    <label for="offer-type">How would you like to offer the idea? (If this is unclear, please refer to
                        the text block above or the FAQ page before proceeding):</label>
                    <select name="offer-type" id="offer-type" class="composelect">
                        <option value="free">-> Free - I just want this made.</option>
                        <option value="paid">-> Paid - I will pay up front for this.</option>
                        <option value="partner">-> Partner - I would like to be involved.</option>
                    </select>
                </div>
                <div class="prompt">
                    <label for="offer-value">If the offer is paid, what is your offer? (Remember that 20k is the minimum
                        offer for the simplest project):</label>
                    <select name="value" id="offer-value" class="composelect">
                        <option value="null">-></option>
                        <option value="20,000$ - 25,000$">-> 20,000$ - 25,000$</option>
                        <option value="25,000$ - 50,000">-> 25,000$ - 50,000$</option>
                        <option value="50,000$ - 75,000$">-> 50,000$ - 75,000$</option>
                        <option value="75,000$ - 100,000$">-> 75,000$ - 100,000$</option>
                        <option value="100,000$ - 250,000$">-> 100,000$ - 250,000$</option>
                        <option value="250,000$ +">-> 250,000$ +</option>
                    </select>
                </div>
                <div class="prompt">
                    <label for="coding-languages">What languages will your project require? (If you know - otherwise
                        leave blank):</label>
                    <textarea name="coding-languages" id="coding-languages" class="smalltext"></textarea>
                </div>
                <div class="prompt">
                    <label for="keywords">What keywords would help people find your idea? (Please separate each word
                        with a comma!):</label>
                    <textarea name="keywords" id="keywords" class="smalltext"></textarea>
                </div>
                <div class="prompt">
                    <label for="short-text">In 300 characters or less, please give us a an elevator pitch for the idea.
                        This is what will appear on the main page:</label>
                    <textarea name="short-text" id="short-text" class="medtext"></textarea>
                </div>
                <div class="prompt">
                    <label for="text">If your idea is free, use this space to explain exactly what the idea is. If you
                        will pay for it, without divulging anything proprietary, layout what you are expecting in terms
                        of a finished product and a timeline for your project. If you can't pay outright, explain what
                        you can of the project, and what you are able to offer in terms of money and/or partnership
                        going forward:</label>
                    <textarea name="text" id="text" class="bigtext"></textarea>
                </div>
                <div class="prompt">
                    <label for="submit">Look over your offer make sure you're okay posting the idea publicly. You can
                        always edit it later, but it will be visible as soon as you publish it:</label>
                    <button name="submit" id="submit">Publish It! -></button>
                </div>
            </main>
        </div>
    </div>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>