<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/styledark.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav class="navigate">
        <span class="navbutton"><button>--------home ->------</button></span>
        <span class="navbutton"><button>--------faqs ->------</button></span>
        <span class="navbutton"><button>---post an idea ->---</button></span>
        <span class="navbutton"><button>---find an idea ->---</button></span>
        <span class="navbutton"><button>------logout ->------</button></span>
    </nav>
    <div class="pagebody">
        <div class="pagecontent">
           <main class="conversation">
            <span class="intro">
                <h3>This is your conversation with OTHERUSER about PROJECTTITLE</h3>  
            </span>
            <div class="messagedisplay">
                <div class="codertexttime">10-06-26 02:31:29,573</div>
                <div class="codertext">OTHERUSER: Hey, your project seems pretty cool. I'd be interested in working on it as a side project if your not in a hurry to get it made.</div>
                <div class="codertexttime">10-06-26 02:31:29,573</div>
                <div class="codertext">OTHERUSER: Let me know if you're still looking for someone.</div>
                <div class="inventortexttime">10-06-26 02:31:29,573</div>
                <div class="inventortext">Hey! Sorry just got back from a vacation. Yes! Still looking for someone. Where are you located?</div>
                <div class="codertexttime">10-06-26 02:31:29,573</div>
                <div class="codertext">OTHERUSER: I'm in San Fran. Where are you?</div>
                <div class="inventortexttime">10-06-26 02:31:29,573</div>
                <div class="inventortext">I'm based in Florida. Do you think we could meet on zoom to discuss the project?</div>
                <div class="codertexttime">10-06-26 02:31:29,573</div>
                <div class="codertext">OTHERUSER: Sure! I'm pretty free tomorrow after three if there's a time that might work for you.</div>
            </div>
            <div class="prompt">
                <label for="messagereply">Your reply:</label>
                <textarea name="messagereply" id="messagereply" class="messagetext"></textarea>
                <button name="submit" id="submit">Send -></button>
            </div>
        </div>
    </div>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>