<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylelight.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav class="navigate">
        <span class="navbutton"><button>--------home ->------</button></span>
        <span class="navbutton"><button>--------faqs ->------</button></span>
        <span class="navbutton"><button>---post an idea ->---</button></span>
        <span class="navbutton"><button>---find an idea ->---</button></span>
        <span class="navbutton"><button>------logout ->------</button></span>
    </nav>
    <div class="contain">
        <div class="contained">
            <article class="faq page">
                <div class="qanda">
                    <div class="queue"><h3>Question: Why do birds suddenly appear?</h3></div>
                    <div class="aye">Pedantic Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui culpa placeat alias facilis quisquam quia minima repellat, atque dicta aut sapiente incidunt illo! Vero eum magni veniam quisquam labore.</div>
                </div>
                <div class="qanda">
                    <div class="queue"><h3>Question: Why do birds suddenly appear?</h3></div>
                    <div class="aye">Pedantic Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui culpa placeat alias facilis quisquam quia minima repellat, atque dicta aut sapiente incidunt illo! Vero eum magni veniam quisquam labore.</div>
                </div>
                <div class="qanda">
                    <div class="queue"><h3>Question: Why do birds suddenly appear?</h3></div>
                    <div class="aye">Pedantic Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui culpa placeat alias facilis quisquam quia minima repellat, atque dicta aut sapiente incidunt illo! Vero eum magni veniam quisquam labore.</div>
                </div>
                <div><h3>-----</h3></div>
            </article>
            <section class="adminquestion">
                <label for="contactadmin"><h3>Contact site admin about something not covered here:</h3></label>
                <textarea name="contacadmin" id="contactadmin"></textarea>
                <div class="submitbutton"><button id="contactadminsubmit">Contact Admin -></button></div>
            </section>
        </div>
    </div>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>