<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylelight.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav class="navigate">
        <span class="navbutton"><button>--------home ->------</button></span>
        <span class="navbutton"><button>--------faqs ->------</button></span>
        <span class="navbutton"><button>---post an idea ->---</button></span>
        <span class="navbutton"><button>---find an idea ->---</button></span>
        <span class="navbutton"><button>------logout ->------</button></span>
    </nav>
    <div class="contain">
        <div class="contained">
            <article class="idea">
                <h3>Idea For A Dating App</h3>
                <h6>this is the date</h6>
                <h6>Idea type</h6>
                <h6>Offer type, amount (if applicable)</h6>
                <h6>Languages</h6>
                <h6>Keywords</h6>
                <div class="ideatext">
                    <span> SHORT ELEVATOR PITCH: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
                        cumque atque praesentium eveniet
                        modi,
                        alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis
                        cumque
                        nesciunt minus.
                    </span>
                </div>
                <div class="ideatext">
                    <span>
                        FULL PITCH/OFFER DETAILS/REQUIREMENTS: Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Placeat cumque
                        atque praesentium eveniet
                        modi,
                        alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis
                        cumque
                        nesciunt minus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi voluptas
                        perspiciatis suscipit distinctio! Dolorem eos cumque, libero ipsam qui delectus consectetur
                        dolore quidem aspernatur. Iusto doloremque error repudiandae minus officiis? Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Deserunt enim, iusto in molestiae porro eos est modi eius
                        ut cumque? Aperiam saepe rem incidunt deleniti ab quis est totam commodi.
                    </span>
                </div>
                <div class="ideatext">--------</div>
            </article>
            <section class="comments">
                <div>
                    <h5>Comments:</h5>
                </div>
                <h6>On DATE, COMMENTUSER wrote:</h6>
                <div>
                    COMMENT TEXT Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae reiciendis
                    totam sequi labore amet sint nostrum voluptas dolorem quo ex animi modi repellendus, minima sed ad
                    quos ab obcaecati.
                </div>
                <div class="ideatext">---</div>
            </section>
            <section class="comments">
                <h6>On DATE, COMMENTUSER wrote:</h6>
                <div>
                    COMMENT TEXT Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto
                    accusantium facilis repellendus, totam, maiores, atque eaque officia quasi perferendis quibusdam
                    deleniti nobis consequatur fugit voluptatum enim dignissimos eligendi perspiciatis?
                </div>
                <div class="ideatext">---</div>
            </section>
            <section class="comments">
                <h6>On DATE, COMMENTUSER wrote:</h6>
                <div>
                    COMMENT TEXT Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse delectus id enim fugit
                    unde iusto cupiditate atque dolores porro, consequatur distinctio, quis ipsum repellat impedit
                    reprehenderit veritatis doloribus omnis? Saepe.
                </div>
                <div class="ideatext">---</div>
            </section>
            <section class="commentform">
                <div>
                    <h5>If you'd like to leave a comment, please be constructive. Suggest existing projects that the
                        user might look at, suggest coding languages that they should include to attract the right
                        people to help them, link to other people trying to get similar things made, etc.</h5>
                </div>
                <div>
                    <div>
                        <label for="commentfield">Add a Comment:</label>
                    </div>
                    <div>
                        <textarea name="commentfield" id="commentfield"></textarea>
                    </div>
                    <div>
                        <label for="commentsubmit">Submit your helpful comment:</label>
                    </div>
                    <div class="submitbutton">
                        <button id="commentsubmit">Submit -></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>