<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylelight.css">
    <title>ideafora</title>
</head>
<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav>
        <span>
            <label for="login-email">______________email:</label><input type="text" id="login-email"><br>
            <label for="login-password">___________password:</label><input type="text" id="login-password"><br>
            <button><h5>login -></h5></button>
        </span>
    </nav>
    <article>

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet modi, alias,
        ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque nesciunt minus.

    </article>
    <nav>
        <span>
            <label for="signup-username">___________username:</label><input type="text" id="signup-username"><br>
            <label for="signup-email">______________email:</label><input type="text" id="signup-email"><br>
            <label for="signup-password">___________password:</label><input type="text" id="signup-password"><br>
            <button><h5>signup -></h5></button>
        </span>
    </nav>
    <footer>
        rights group3productions date 
    </footer>
</body>
</html>