<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylelight.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav class="navigate">
        <span class="navbutton"><button>--------home ->------</button></span>
        <span class="navbutton"><button>--------faqs ->------</button></span>
        <span class="navbutton"><button>---post an idea ->---</button></span>
        <span class="navbutton"><button>---find an idea ->---</button></span>
        <span class="navbutton"><button>------logout ->------</button></span>
    </nav>
    <div class="contain">
        <div class="contained">
            <article class="firstpostnoticetext">
                <div><label for="basket">What's in the basket?</label></div>
                <textarea name="basket" id="basket" class="basketarea"></textarea>
                <div class="submitbutton"><button name="gotopost" id="gotopost">Go To Post -></button></div>
                <div><h5><label for="goback">I guess i didn't read all of that, take me back.</label</h5></div>
                <div class="submitbutton"><button name="goback" id="goback">Go Back to Notice <-</button></div>
            </article>
        </div>
    </div>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>