<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylelight.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1>ideafora</h1>
    </header>
    <nav class="navigate">
        <span class="navbutton"><button>--------home ->------</button></span>
        <span class="navbutton"><button>--------faqs ->------</button></span>
        <span class="navbutton"><button>---post an idea ->---</button></span>
        <span class="navbutton"><button>---find an idea ->---</button></span>
        <span class="navbutton"><button>------logout ->------</button></span>
    </nav>
    <!-- <nav>
            <span>
                <br>
                <button>-----offer type ->-----</button>
                <button>-----category ->-----</button>
                <button>------language ->-----</button>
                <button>------view order ->---------</button>
            </span>
        </nav> -->
    <div class="contain">
        <div class="contained">
            <article class="idea">
                <h3>Idea For A Dating App</h3>
                <h6>this is the date</h6>
                <h6>Idea type, Offer type, this is the meta keys</h6>
                <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet
                    modi,
                    alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque
                    nesciunt minus.
                </span>
                <h6><button>-> love it!</button> 0 people loved this</h6>
                <h6>commenter hairyStyles said: "that's what they said..." <button>see more comments -></button></h6>
                <span>-----</span>
            </article>
        </div>
        <div class="contained">
            <article class="idea">
                <h3>Idea For A Dating App</h3>
                <h6>this is the date</h6>
                <h6>Idea type, Offer type, this is the meta keys</h6>
                <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet
                    modi,
                    alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque
                    nesciunt minus.
                </span>
                <h6><button>-> love it!</button> 0 people loved this</h6>
                <h6>commenter hairyStyles said: "that's what they said..." <button>see more comments -></button></h6>
                <span>-----</span>
            </article>
        </div>
        <div class="contained">
            <article class="idea">
                <h3>Idea For A Dating App</h3>
                <h6>this is the date</h6>
                <h6>Idea type, Offer type, this is the meta keys</h6>
                <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet
                    modi,
                    alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque
                    nesciunt minus.
                </span>
                <h6><button>-> love it!</button> 0 people loved this</h6>
                <h6>commenter hairyStyles said: "that's what they said..." <button>see more comments -></button></h6>
                <span>-----</span>
            </article>
        </div>
    </div>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>