<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/stylelight.css">
    <title>ideafora</title>
</head>

<body>
    <header>
        <h1><img src="assets/img/ideaforaheaderDark.gif" alt="ideafora" class="headimg"></h1>
    </header>
    <nav class="login">
        <span class="left">
            <div class="label" id="nudgedown"><label for="login-email">email:</label></div>
            <div class="label"><label for="login-password">password:</label></div>
        </span>
        <span class="right">
            <div class="input"><input type="text" id="login-email"></div>
            <div class="input"><input type="text" id="login-password"></div>
            <button>
                <h5>login -></h5>
            </button>
        </span>
    </nav>
    <article class="welcome">
        <span class="welcomein">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet modi,
            alias,
            ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque nesciunt
            minus.
        </span>
    </article>
    <nav class="signup">
        <span class="left">
            <div class="label" id="nudgedown"><label for="signup-username">username:</label></div>
            <div class="label"><label for="signup-email">email:</label></div>
            <div class="label"><label for="signup-password">password:</label></div>
            <div class="label"><label for="signup-role">role:</label></div>
        </span>
        <span class="right">
            <div class="input"><input type="text" id="signup-username"></div>
            <div class="input"><input type="text" id="signup-email"></div>
            <div class="input"><input type="text" id="signup-password"></div>
            <div class="input"><select type="text" id="signup-role">
                    <option value="inventor">Inventor</option>
                    <option value="coder">Coder</option>
                    <option value="both">Both</option>
                </select>
            </div>
            <button>
                <h5>signup -></h5>
            </button>
        </span>
    </nav>
    <footer>
        rights group3productions date
    </footer>
</body>

</html>