<header>
    <h1>ideafora</h1>
</header>
<nav class="navigate">
    <span><button>--------post an idea ->--------</button></span>
    <span><button>--------find an idea ->--------</button></span>
    <span><button>-----------logout ->-----------</button></span>
</nav>
{{#if ideafind}}
<nav>
    <span>
        <br>
        <button>----offer type ->----</button>
        <button>-----category ->-----</button>
        <button>-----language ->-----</button>
        <button>----view order ->----</button>
    </span>
</nav>
{{/if}}
{{> idea data}}

<div class="contain">
    <div class="contained">

        <div class="contained">
            <article class="idea">
                <h3>Idea For A Dating App</h3>
                <h6>this is the date</h6>
                <h6>Idea type, Offer type, this is the meta keys</h6>
                <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet
                    modi,
                    alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque
                    nesciunt minus.
                </span>
                <h6><button>-> love it!</button> 0 people loved this</h6>
                <h6>commenter hairyStyles said: "that's what they said..." <button>see more comments -></button></h6>
                <span>-----</span>
            </article>
        </div>
        <div class="contained">
            <article class="idea">
                <h3>Idea For A Dating App</h3>
                <h6>this is the date</h6>
                <h6>Idea type, Offer type, this is the meta keys</h6>
                <span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat cumque atque praesentium eveniet
                    modi,
                    alias, ut enim corporis eius explicabo quam facilis. Quaerat, blanditiis. Nulla non corporis cumque
                    nesciunt minus.
                </span>
                <h6><button>-> love it!</button> 0 people loved this</h6>
                <h6>commenter hairyStyles said: "that's what they said..." <button>see more comments -></button></h6>
                <span>-----</span>
            </article>
        </div>
    </div>
</div>